build/Release

bin/

dist/

Dockerfile

appsettings.json

bundleconfig.json

appsettings.Development.json

*.json

.cache


#Logs

*.log




#Dependency directories

node_modules/


#User-specific files

*.suo
*.user

#Build results

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Bb]in
[Oo]bj/
[Ll]og/
[Ll]ogs/

#Visual studio cache/options directory
.vs/

#Files built by Visual Studio

*.obj
.builds
*.log




